body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: rgb(50,90,60);
  color: pink;
  padding: 20;
  font-size: 20;
  font-family: Georgia;
  }

p {
   color: rgb(210,180,30);
   font-size: 22;
   margin-left: 100px;
   margin-right: 100px;
   font-style: italic;
}
h1, p {
  text-align: center;
  margin: 2em auto;
  margin-bottom: 15px;
}

form {
  width: 50vw;
  margin: auto;
  font-size: 19;
}

label {
  display: block;
  padding: 4px;
  color: pink;
  margin-top: 5;
  font-weight: bold;
}

fieldset {
  border: none;
}

input,  textarea {
  width:50vw;
  background-color: rgb(200,200,35);
  color: rgb(130,0,30);
  margin: 10 0 0 0;
  min-height: 2em;
  font-size: 14.5;
}
select {
  width:50vw;
  background-color: rgb(200,90,40);
  color: rgb(250,240,0);
  margin: 10 0 0 0;
  min-height: 2em;
  font-size: 15;
}

.inline {
  width: unset;
  vertical-align: middle;
  margin: 0 0.5em 0 0;
}

::placeholder {
  color: rgb(150,0,30);
  

}

.survey {
  width: 50vw;
  margin: 0 auto;
  padding: 20
}

article {
  color: rgb(240,200,0);
  font-size: 16;
  padding: 3;
  font-family: sans-serif;
}
input[type="submit"] {
  display: block;
  width:50vw;
  margin: 0.5em auto;
  font-size: 2.5rem;
  font-family: Georgia;
  font-weight: bold;
  background-color: rgb(50,90,60);
  color: pink;
  border: none;
  min-width: 300px;
}