img {
  max-width: 100%;
  width: 600px;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 20px;
}

body {
  background-color: rgb(230,220,200);
  color: rgb(130,50,60);
  margin: 0;
  padding-bottom: 20px;
}

#image {
  margin-top: 20px;
}

header {
  font-family: liberty-serif;
  font-size: 18px;
  text-align: center;
  background-color: rgb(70,50,60);
  color:  rgb(230,220,200);
  text-transform: uppercase;
  padding: 20px;
  margin: 0;
}
figcaption {
  text-align: center;
  font-size: 20px;
  color: rgb(130,50,60);
  font-style: italic;
  padding: 1.5px;
}

h2 {
  text-align: center;
  color: rgb(230,220,200);
  background-color:  rgb(70,50,60);
  padding: 20px;
  margin-top: 0;
  font-size: 30px;
}

ol {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

li {
  padding: 1.5px;
}

h3 {
  text-align: center;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

a {
  color: rgb(50,100,50);
}